<!DOCTYPE html>
<html>
  <head>
    <title>WineTasting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class="<%= type %>">
        <%= msg %>
      </div>
    <% end %>
    <nav>
      <%= link_to 'Wein anlegen', new_product_path %>
    </nav>
    <%= yield %>
  </body>
</html>
